.resultBtn {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.showResult {
  background: none;
  color: blueviolet;
  height: 40px;
  border: 1px solid blueviolet;
  border-radius: 15px;
  padding: 10px;
  text-align: center;
}

.showResult:hover {
  cursor: pointer;
}

.showResult:active {
  background-color: blueviolet;
  color: white;
  border: 1px solid white;
}

@media (min-width: 767px) {
  .resultBtn {
    margin-top: 50px;
  }

  .showResult {
    font-size: 24px;
    height: 70px;
  }
}

@media (min-width: 992px) {
  .resultBtn {
    margin-top: 50px;
  }

  .showResult {
    font-size: 24px;
    height: 70px;
  }
}
