.app-container {
  width: 320px;
  height: 600px;
  background: linear-gradient(blue, 40%, hotpink);
  margin: 0 auto;
}

.app-wrapper {
  width: 300px;
  height: 400px;
  background-color: white;
  border-radius: 3px;
  margin: 0 auto;
  position: relative;
  top: 10px;
}
