.app-container {
  min-width: 320px;  
  min-height: 600px;
  background: linear-gradient(blue, 40%, hotpink);
  margin: 0 auto;
}

.app-wrapper {
  max-width: 300px;
  min-height: 400px;
  background-color: white;
  border-radius: 3px;
  margin: 0 auto;
  position: relative;
  top: 10px;
}

@media (min-width: 320px) {
  .app-container {
    max-width: 767px;
    min-height: 600px;
  }
}

@media (min-width: 767px) {
  .app-container {
    max-width: 991px;
    min-height: 768px;
  }
  .app-wrapper {
    max-width: 800px;
    min-height: 700px;
  }
}

@media (min-width: 992px) {
  .app-container {
    max-width: 1200px;
    min-height: 1009px;
  }
  .app-wrapper {
    max-width: 1000px;
    min-height: 800px;
  }
}